<launch>

    <rosparam file="$(find kinova_control)/config/params.yaml" command="load" />

     <!-- Include the touch sensor transform-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="knova_dtv2" args="0.0 0.0 0.0607 0 0 -0.7071068 0.7071068 end_effector_link touch" />

    <!-- Robot namespace -->
    <arg name="robot_name" default="my_gen3"/>
    <arg name="start_delay_seconds" default="0"/>

    <arg name="image_topic" default="/camera/color/image_raw" />
    <arg name="cam_info_topic" default="/camera/color/camera_info" />

    <arg name="depth_image_topic" default="/camera/depth/image_raw" />
    <arg name="depth_cam_info_topic" default="/camera/depth/camera_info" />

    <arg name="save_data" default="True" />
    <arg name="should_collect_test_views" default="False" />
    <arg name="should_collect_experiment" default="True" />
    <arg name="starting_views" default="8"/>
    <arg name="added_views" default="15"/>
    <arg name="use_touch" default="False"/>

    <!-- include other launch file -->
    <include file="$(find gaussian_splatting)/launch/vision.launch">
        <arg name="image_topic" value="$(arg image_topic)"/>
        <arg name="cam_info_topic" value="$(arg cam_info_topic)"/>
        <arg name="depth_image_topic" value="$(arg depth_image_topic)"/>
        <arg name="depth_cam_info_topic" value="$(arg depth_cam_info_topic)"/>
        <arg name="save_data" value="$(arg save_data)"/>
        <arg name="should_collect_test_views" value="$(arg should_collect_test_views)"/>
    </include>

    <!-- Launch the controller node -->
    <node name="moveit_controller" pkg="kinova_control" type="moveit_controller.py" ns="$(arg robot_name)" output="screen" launch-prefix="bash -c 'sleep $(arg start_delay_seconds); $0 $@' ">
        <param name="starting_views" value="$(arg starting_views)"/>
        <param name="added_views" value="$(arg added_views)"/>
        <param name="should_collect_experiment" value="$(arg should_collect_experiment)"/>
        <param name="dt_deform_threshold_value" value="200"/>
        <param name="use_touch" value="$(arg use_touch)"/>
    </node>

</launch>